@import './base.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

.btn {
  @apply px-5 overflow-hidden rounded-lg border-2 border-gray-300 bg-gray-50 text-gray-700 font-semibold hover:outline-none hover:ring-0 hover:ring-blue-500 hover:border-blue-500;
}

.input{
  @apply border border-gray-300 rounded-lg 
         focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500
         transition max-w-32;
}

.expand-enter-active,
.expand-leave-active {
  transition: opacity 200ms ease, transform 200ms ease;
  overflow: hidden;
}

.expand-enter-from,
.expand-leave-to {
  opacity: 0;
  transform: translateY(-6px);
}

.expand-enter-to,
.expand-leave-from {
  opacity: 1;
  transform: translateY(0);
}

#app {
  max-width: 1280px;
  margin: 0 auto;

  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }
}
